In [1]:
import pandas as pd
import numpy as np
import talib
from scipy.signal import find_peaks
from sklearn.preprocessing import MinMaxScaler
from cassandra.cluster import Cluster

In [2]:
# เชื่อมต่อเพื่อดึงข้อมูล
cluster = Cluster(['127.0.0.1'])
session = cluster.connect('stock_data')

In [4]:
rows = session.execute("SELECT * FROM candlestick_data") # หรือระบุรายตัวด้วย WHERE ticker = '...'
df = pd.DataFrame(list(rows))
df.head()

  symbol       date  close  high   low  open   volume
0    ASP 2022-12-27   2.96  2.98  2.96  2.96  1121907
1    ASP 2022-12-28   2.96  2.98  2.96  2.98  1606809
2    ASP 2022-12-29   2.96  2.98  2.96  2.98  2344759
3    ASP 2022-12-30   2.98  2.98  2.96  2.98  1971614
4    ASP 2023-01-03   2.96  2.98  2.96  2.96  3463991

In [5]:
# เรียงลำดับเวลาให้ถูกต้อง
df = df.sort_values(['symbol', 'date']).reset_index(drop=True)